
footer {
    bottom: 0 !important; 
    position: fixed !important; 
    padding: 1% 0 0.5% 0 !important;
    height: 5%;
    width: 100% !important;
    text-align: center;
    color: white;
    background-color: rgb(22, 99, 193);
}